{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}About{% endblock %}

{% block content %}
  <link href="{% static 'blog/about.css' %}" rel="stylesheet">
    <style>
            .about-img {
            width: 100%;
            height: 50vh;
            /* Adjust height for smaller screens */
            background: url("{% static 'blog/images/about.avif' %}") no-repeat center center/cover;
        }
        @media (min-width: 768px) {

     .about-img {
         width: 40vw;
         height: auto;
         /* Adjust height for larger screens */
     }

 }
    </style>

<section class="about">
    <div class="about-container">
        <div class="about-img"></div>
        <div class="about-content">

            
            <h1>{% trans "About Us" %}</h1>
            <p>{% trans "We are digital creators, an online marketplace for businesses, companies, organizations, entities, corporations, firms, and more." %}</p>
            <p>{% trans "Easily present and impress your audience with impactful presentations. Choose from over a thousand professional designs tailored to any goal. Customize your website with your texts, logos, photos, videos, and audios." %}</p>

        </div>
        <div class="about-column-line"></div>
    </div>
</section>

<div class="container">
    <br>
    <h2>{% trans "Our Team" %}</h2>
    <br>
    <div class="row">
        {% for author in authors %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4" style="height: 100%;">
                    <img src="{{ author.image.url }}" class="card-img-top" alt="{{ author.image.url }}" style="object-fit: cover; height: 300px;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ author.first_name }} {{ author.last_name }}</h5>
                        <p class="card-text">{{ author.bio }}</p>
                    </div>
                    <div class="card-footer mt-auto">
                        <small class="text-muted">{{ author.email_address }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}