{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">Próximos Eventos de Zoom</h1>
    
    {% if events %}
        <div class="container">
            <div class="row">
                {% for event in events %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.title }}</h5>
                                <p class="card-text">{{ event.description }}</p>
                                <p class="card-text">
                                    <small class="text-muted">{{ event.get_type_display }} - {{ event.get_access_type_display }}</small><br>
                                    <strong>{{ event.event_time }}</strong>
                                </p>
                                <a href="{{ event.zoom_link }}" target="_blank" class="btn btn-primary">Entrar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            No hay eventos disponibles.
        </div>
    {% endif %}
{% endblock %}
