    .cover-image {
        margin-top: -75px;
        width: 100%;
        height: 40vh;
        object-fit: cover;
        object-position: 50% 30%;
    }

    .faq-container {
        padding: 10px;
        color: black;
    }

    .faq-item {
        cursor: pointer;
        margin-bottom: 10px;
        padding: 5px;
        background-color: #f5f5f5;
        border-radius: 5px;
        transition: background 0.3s ease;
    }

    .faq-item:hover {
        background-color: #e0e0e0;
    }

    .faq-answer-container {
        margin-top: 20px;
        padding: 10px;
        background-color: #fff3cd;
        border-left: 4px solid #ffb923;
        display: none;
        color: black
    }

    .gradient-line {
        position: absolute;
        bottom: 5px;
        height: 30px;
        width: calc(70% - 30px);
        background: linear-gradient(to right, #ffb923, transparent);
        margin: 20px auto;
    }

    .content-container {
        display: flex;
        width: 100%;
        height: 60vh;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .left-section {
        width: 70%;
        background-color: rgba(255, 255, 255, 0);
        padding: 10px;
    }

    .right-section {
        margin-top: -20px;
        width: 30%;
        background-color: #ffb923;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }

    .right-section img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 70%;
        object-fit: cover;
    }

    .right-section p {
        position: absolute;
        font-size: 2rem;
        color: black;
        text-align: left;
        right: 10px;
        bottom: 10px;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .content-container {
            margin-top: -75px;
            flex-direction: column;
            height: auto;
        }

        .left-section,
        .right-section {
            width: 100%;
        }

        .right-section {
            display: none;
        }

        .gradient-line {
            position: relative;
            width: 100%;
        }

        .faq-container {
            margin-top: 70px;
        }
    }